.header {
  position: fixed;
  width: 100%;
  background-color: var(--secondary-color);
  top: 0;
  left: 0;
  z-index: 100;
}

.nav {
  height: 6.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.nav-close, .nav-toggle {
  display: flex;
  color: var(--body-color);
}

.nav-logo {
  width: 25px;
}

.nav-toggle {
  font-size: 2rem;
}

@media screen and (max-width: 900px) {
  .nav-menu {
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--secondary-color);
    width: 100%;
    box-shadow: 0 .8rem 2rem hsla(19, 64%, 24%, .1);
    padding-block: 5.6rem;
    transition: all .4s ease;
  }
}

.nav-list {
  display: flex;
  flex-direction: column;
  row-gap: 4rem;
  align-items: center;
  text-align: center;
}

.nav-link {
  color: var(--body-color);
  transition: color .4s;
}

.nav-link:hover {
  color: var(--first-color);
}